@model HireAProfessional.Web.ViewModels.Companies.CompaniesListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Companies</title>
</head>
<body>
    <h1>Crud Operation</h1>

    <div id="someModal" class="container">
        <!-- Trigger the modal with a button -->
        <button onclick="showCreateModal()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add Company</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="margin-right: 100px;" class="modal-title">Add Company</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            <input class="form-control" type="text" name="companyName" placeholder="Apple">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modalButton" type="button" class="btn btn-primary" data-dismiss="modal">Add Company</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Employees Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in this.Model.Companies)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Employees.Count</td>
                    <td>
                        <a onclick="deleteCompany('@company.Id')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-area="administration"
                       asp-route="dashboardArea"
                       asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link"
                       asp-area="administration"
                       asp-route="dashboardArea"
                       asp-route-page="@i">@i</a>
                </li>
            }

            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-area="administration"
                       asp-route="dashboardArea"
                       asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</body>
</html>

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

    function showCreateModal() {
        document.getElementById('modalButton').onclick = function () { addCompany() }
    }

    function deleteCompany(companyId) {
        let headers = {
            method: 'POST',
            body: JSON.stringify({
                'companyId': companyId,
            }),
            headers: {
                'content-type': 'application/json'
            }
        }

        fetch('https://localhost:44319/api/companies/delete', headers)
    }

    function addCompany() {

        let cityName = document.getElementsByName('companyName')[0].value

        let headers = {
            method: 'POST',
            body: JSON.stringify({
                'companyName': cityName,
            }),
            headers: {
                'content-type': 'application/json'
            }
        }

        fetch('https://localhost:44319/api/companies/create', headers)
    }
</script>