@{
    this.ViewData["Title"] = "Posts";
}
@using HireAProfessional.Web.ViewModels.Posts;
@model PostsListViewModel

<!--mb-5 mb-md-0-->
<div class="row">
    <div class="col-md-12  " data-aos="fade-up" data-aos-delay="100">
        <div class="rounded border jobs-wrap">
            <!--Recent posts-->
            @foreach (var post in this.Model.Posts)
            {
                <a href="job-single.html" class="job-item d-block d-md-flex align-items-center @post.EmploymentType.ToString().ToLower()">
                    <div class="company-logo blank-logo text-center text-md-left pl-3">
                        <img src="images/logo_2.png" alt="Image" class="img-fluid mx-auto">
                    </div>
                    <div class="job-details h-100">
                        <div class="p-3 align-self-center">
                            <h3>@post.JobTitle</h3>
                            <div class="d-block d-lg-flex">
                                <div class="mr-3"><span class="icon-suitcase mr-1"></span> @post.Description</div>
                                <div class="mr-3"><span class="icon-room mr-1"></span> @post.JobLocation</div>
                            </div>
                        </div>
                    </div>
                    <div class="job-category align-self-center">
                        <div class="p-3">
                            <span class="text-danger p-2 rounded border border-danger">@post.EmploymentType.ToString()</span>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
