@using HireAProfessional.Web.ViewModels.ApplicationUsers;
@model CrudApplicationUserViewModel
<!DOCTYPE html>

<style>
    body {
        margin-top: 20px;
        background: #f8f8f8
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <h1>Crud Operation</h1>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row flex-lg-nowrap">

            <div class="col">
                <div class="e-tabs mb-3 px-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
                    </ul>
                </div>

                <div class="row flex-lg-nowrap">
                    <div class="col mb-3">
                        <div class="e-panel card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h6 class="mr-2"><span>Users</span><small class="px-1">Be a wise leader</small></h6>
                                </div>
                                <div class="e-table">
                                    <div class="table-responsive table-lg mt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th class="max-width">Name</th>
                                                    <th class="sortable">Date Created</th>
                                                    <th>Company</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in this.Model.Users)
                                                {
                                                    <tr>
                                                        <td class="text-nowrap align-middle">@user.Id</td>
                                                        <td class="text-nowrap align-middle">@user.FirstName @user.LastName</td>
                                                        <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                                        <td class="text-nowrap align-middle"><span>@user.Company.Name</span></td>
                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <button onclick="showForm('@user.Id')" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                                                                <button onclick="deleteUser('@user.Id')" class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            @if (this.Model.CurrentPage == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Previous</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       asp-area="administration"
                                                       asp-route="dashboardArea"
                                                       asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= this.Model.PagesCount; i++)
                                            {
                                                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                                                <li class="page-item @active">
                                                    <a class="page-link"
                                                       asp-area="administration"
                                                       asp-route="dashboardArea"
                                                       asp-route-page="@i">@i</a>
                                                </li>
                                            }

                                            @if (this.Model.CurrentPage == this.Model.PagesCount)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       asp-area="administration"
                                                       asp-route="dashboardArea"
                                                       asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center px-xl-3">
                                    <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">New User</button>
                                </div>
                                <hr class="my-3">
                                <div class="e-navlist e-navlist--active-bold">
                                    <ul class="nav">
                                        <li class="nav-item active"><a href="" class="nav-link"><span>All</span>&nbsp;<small>/&nbsp;32</small></a></li>
                                        <li class="nav-item"><a href="" class="nav-link"><span>Active</span>&nbsp;<small>/&nbsp;16</small></a></li>
                                        <li class="nav-item"><a href="" class="nav-link"><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a></li>
                                    </ul>
                                </div>
                                <hr class="my-3">
                                <div>
                                    <div class="form-group">
                                        <label>Date from - to:</label>
                                        <div>
                                            <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Search by Name:</label>
                                        <div><input class="form-control w-100" type="text" placeholder="Name" value=""></div>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="">
                                    <label>Status:</label>
                                    <div class="px-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="user-status" id="users-status-disabled">
                                            <label class="custom-control-label" for="users-status-disabled">Disabled</label>
                                        </div>
                                    </div>
                                    <div class="px-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="user-status" id="users-status-active">
                                            <label class="custom-control-label" for="users-status-active">Active</label>
                                        </div>
                                    </div>
                                    <div class="px-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="user-status" id="users-status-any" checked="">
                                            <label class="custom-control-label" for="users-status-any">Any</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Form Modal -->
                <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create User</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="py-1">
                                    @*<form class="form" novalidate="">

        </form>*@

                                    <input id="hiddenForm" type="hidden" name="Id" />
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <input class="form-control" type="text" name="firstName" placeholder="John">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <input class="form-control" type="text" name="lastName" placeholder="Smith">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>CompanyName</label>
                                                        <input name="companyName" class="form-control" type="text" placeholder="user@example.com">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Education</label>
                                                        <input name="education" class="form-control" type="text" placeholder="29">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input name="email" class="form-control" type="text" placeholder="user@example.com">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Age</label>
                                                        <input name="age" class="form-control" type="text" placeholder="29">
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>CompanyName</label>
                            <input class="form-control" type="text" placeholder="user@example.com">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Education</label>
                            <input class="form-control" type="text" placeholder="29">
                        </div>
                    </div>
                </div>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 mb-3">
                                            <div class="mb-2"><b>Change Password</b></div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Current Password</label>
                                                        <input class="form-control" type="password" placeholder="••••••">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input name="password" class="form-control" type="password" placeholder="••••••">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                        <input name="confirmPassword" class="form-control" type="password" placeholder="••••••">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button onclick="editUser()" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>

<script>
    function deleteUser(userId) {
        let headers = {
            method: 'POST',
            body: JSON.stringify({
                'userId': userId
            }),
            headers: {
                'content-type': 'application/json'
            }
        }

        fetch('https://localhost:44319/api/users/delete', headers)
    }

    function showForm(userId) {
        document.getElementById('hiddenForm').value = userId
    }

    function editUser() {
        let id = document.getElementsByName("Id")[0].value
        let email = document.getElementsByName("email")[0].value
        let lastName = document.getElementsByName("lastName")[0].value
        let password = document.getElementsByName("password")[0].value
        let education = document.getElementsByName("education")[0].value
        let firstName = document.getElementsByName("firstName")[0].value
        let confirmPassword = document.getElementsByName("confirmPassword")[0].value
        let companyName = document.getElementsByName("companyName")[0].value

        let headers = {
            method: 'POST',
            body: JSON.stringify({
                "Id": id,
                "Email": email,
                "LastName": lastName,
                "Password": password,
                "Education": education,
                "FirstName": firstName,
                "CompanyName": companyName,
                "ConfirmPassword": confirmPassword
            }),
            headers: {
                'content-type': 'application/json'
            }
        }

        fetch('https://localhost:44319/api/users/edit', headers)
    }
</script>